@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Font.woff2") format("woff2"), url("./assets/fonts/Inter-Font.woff") format("woff"), url("./assets/fonts/Inter-Font.ttf") format("truetype"), url("./assets/fonts/Inter-Font.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/* Apply Inter to the entire app */
body {
  font-family: "Inter", sans-serif;
}

.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-input,
.MuiFormHelperText-root {
  font-family: "Inter" !important;
}

.leftPanelContainer {
  background: #fffffc;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
}
.leftPanelHeader {
  background: #333a45;
  /* padding: 1.5rem; */
  height: 14rem;
}
.leftPanelHeaderTitle.MuiTypography-root {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.listItemButton.MuiListItemButton-root,
.logoutButton.MuiListItemButton-root {
  padding: 20px 10px;
  height: 64px;
  border-radius: 5px 5px 0px 0px;
}
.listItemButton.MuiListItemButton-root.Mui-selected,
.listItemButton.MuiListItemButton-root.Mui-selected:hover {
  background: #fdf9f2;
  border-bottom: 2px solid #d8833b;
}
.complaintsPageHeaderContainer {
  height: 10.78rem;
  padding: 0rem 2rem 0rem 2rem;
  width: calc(100% - 4rem);
}
